/* Common styles  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
h3 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}
p {
  padding: 30px 0;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
/* Header styles */
header {
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
  height: 800px;
}
.header-content {
  float: right;
  text-align: right;
  margin-top: 215px;
  margin-right: 230px;
}
.header-content h1 {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}
.header-content p {
  max-width: 500px;
}
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  color: white;
  width: 160px;
  height: 64px;
  font-size: 20px;
  flex-shrink: 0;
  border: 0;
}

/* Main container styles */
.main-container {
  /* max-width: 920; */
  width: 80%;
  margin: 0 auto;
}
.main-container section {
  margin: 80px 0;
}

/* Failures of previous year styles */

.failures {
  display: flex;
  align-items: center;
}
.failures > div {
  padding: 0 50px;
}
.failures ul li {
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  list-style: none;
}

/* My Plans styles */
.my-plans {
  text-align: center;
}
.my-plans h2 {
  margin-bottom: 50px;
}
.plan-container {
  display: flex;
  justify-content: space-around;
}
.plan-container img {
  width: 92.958px;
  height: 92.958px;
  flex-shrink: 0;
}
.plan-container h3 {
  margin: 10px 0;
}

/* Mindset styles */
.mindset {
  background-image: url("../images/gradient2.png"), url("../images/watch.png");
  padding: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
}
.mindset h2 {
  color: #fff;
}
.mindset .btn-call-now,
.footer-form .btn-subcribe {
  border-radius: 5px;
  background: #fff;
  width: 160px;
  height: 64px;
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  margin-top: 20px;
}

/* Footer styles */
footer {
  background-color: #151414;
  color: #fff;
  display: flex;
  padding: 130px 10%;
  gap: 50px;
  justify-content: space-between;
}
.footer-content {
  width: 50%;
}
.footer-content p {
  padding: 10px 0;
}
.footer-content .social-links a {
  margin-top: 50px;
  margin-right: 20px;
}
.footer-content h3,
.footer-form h3 {
  color: #fff;
  margin-bottom: 25px;
}
.footer-form input[type="email"] {
  width: 100%;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
}
