/* Common styles  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
p {
  padding: 30px 0;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
/* Header styles */
header {
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  height: 800px;
}
.header-content {
  float: right;
  text-align: right;
  margin-top: 215px;
  margin-right: 230px;
}
.header-content h1 {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}
.header-content p {
  max-width: 500px;
}
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  color: white;
  width: 160px;
  height: 64px;
  font-size: 20px;
  flex-shrink: 0;
  border: 0;
}

/* Main container styles */
.main-container {
  /* max-width: 920; */
  width: 80%;
  margin: 0 auto;
}
.main-container section {
  margin: 80px 0;
}

/* Failures of previous year styles */

.failures {
  display: flex;
  align-items: center;
}
.failures > div {
  padding: 0 50px;
}
.failures ul li {
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  list-style: none;
}

